#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}

.form-login {
  width: 70%;
  margin: 0 auto;
}

.purchase {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid;
  gap: 5px;
  padding-left: 20px;
}

.purchase-item {
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin: 0 auto;
}

.purchase-title {
  /* min-width: 650px; */
  padding-left: 15%;
  padding-right: 20%;
}

.list-purchase {
  max-width: 80%;
  margin: 0 auto;
}


/* .divCard {
  width: 150px;
  max-height: 250px;
  min-height: 220px;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 50px;
  /* margin-bottom: -40px; */
/* } */

/* .imgCard {
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin: 0 auto;

} */ */

.card-title {
  width: 200px;
}

.flex-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  margin: 0 auto;
}

/* card home */

.cardProducts {
  border-color: #ea39b8 !important;
  height: 400px !important;
}

.cardProducts:hover {
  box-shadow: 0 0 2px rgb(234 57 184 / 90%), 0 0 4px rgb(234 57 184 / 40%), 0 0 1rem rgb(234 57 184 / 30%), 0 0 4rem rgb(234 57 184 / 10%);
}
.card-products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 200px;
}

.card-img {
  height: 250px;
  margin-bottom: -20px;
}

.img-card {
  height: 60%;
  margin-top: 50px ;
}

/* Products Details  */
.div-img-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 400px;
}

.img-detail {
  height: 300px;
  margin-bottom: -20px;
}

.w-100 {
  height: 150%;
}

.carousel {
  background-color: white;
  margin-bottom: 10px;
}


.list-related {
  padding-top: 10%;
}

.img-related {
  height: 100px;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
}

.img-container {
  background-color: white;
  width: 200px;
  margin: 0 auto;
}

.description {
  color: grey;
  font-size: 15px;
}

.fa-cart-plus {
  color: white;
  font-size: 15px;
  border-radius: 50%;
  background-color: rgb(226, 110, 14);
  padding: 10px;
}

.addProduct {
  border-style: none;
  background: none;
}

.fa-cart-plus:hover {
  background-color: rgb(8, 215, 25);
  font-size: 20px;
}

.btn-go {
  color: white;  
  background-color: #2fa4e7;
  border-style: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.addCart {
  color: white;
  background-color: #2fa4e7;
  border-style: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;

}

.addCart:hover {
  background-color: #ea39b8;
}

.cart-details {
  display: flex;
  justify-content: space-between;
  
}

.total-buy {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rate {
  padding-top: 20px;
}

.choice {
  margin-top: 20px;
  margin: 0 auto
}

span {
  color: #32fbe8;
}

Link {
  text-decoration: none;
}

.list-group-numbered>.list-group-item::before {
  content: none !important;
}

.list-group-item:hover {
  background-color: #6610f2 !important;
}
@media screen and (min-width: 280px) {
  .purchase-title {
    padding: 0;
  }
  
  .list-purchase {
    min-width: 200px ;
    margin: 0 auto;
  }
  .w-100 {
    height: 90%;
  }

  .img-card {
    height: 40%;
    margin-top: 70px ;

  }
  
}

@media screen and (max-width: 450px) {
  .img-detail {
    height: 300px;
    margin-bottom: -20px;
  }
  .div-img-details {
    height: 80%;
    margin-top: 50px;
    margin-bottom: -80px;
  }
  .w-100 {
    height: 45%;
  }
}

@media screen and (min-width: 750px) {
  .list-purchase {
    width: 600px ;
    margin: 0 auto;
  }
  .purchase-title {
    width: 430px;
  }
}

